.Amazon-button {
  background-color: rgb(255, 216, 20);
  color: black;
  height: 37px;
  width: 130px;
  border: none;
  border-radius: 17px;
  cursor: pointer;
  transition: background-color 0.15s;
}

.Amazon-button:hover {
  background-color: rgb(150, 130, 31);
}