.first-button {
  background-color: rgb(15, 158, 15);
  color: white;
  border: none;
  font-size: 16px;
  margin: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;


}

.second-button {
  background-color: rgb(15, 158, 15);
  color: white;
  border: none;
  font-size: 16px;
  margin: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.third-button {
  background-color: rgb(15, 158, 15);
  color: white;
  border: none;
  font-size: 16px;
  margin: 8px;
  padding-top: 8px;
  padding-bottom: 8px;
  padding-left: 16px;
  padding-right: 16px;
}

.first-button:hover {
  padding-left: 30px;
  padding-right: 30px;
}

.second-button:hover {
  padding-left: 30px;
  padding-right: 30px;
}

.third-button:hover {
  padding-left: 30px;
  padding-right: 30px;
}